.home-header-container {
    width : 100%;
    height: 100px;

    .home-header-content {
        width  : 85%;
        margin : 0 auto;
        display: flex;
        height : 100%;

        .left-content {
            width          : 30%;
            height         : 100%;
            display        : flex;
            justify-content: center;
            align-items    : center;
            cursor         : pointer;

            i {
                font-size: 25px;

                color: gray;

                &:hover {
                    color     : #EF5924;
                    transition: all .3s;
                }
            }

            .header-logo {
                background-image : url('../../assets/images/LOGO-png.png');
                height           : 100%;
                background-repeat: no-repeat;
                background-size  : cover;
                width            : 100%;
            }
        }

        .center-content {
            width      : 50%;
            display    : flex;
            align-items: center;

            .child-content {
                width          : 25%;
                display        : flex;
                flex-direction : column;
                justify-content: center;
                height         : 100%;
                text-align     : left;
                padding:10px 10px ;

                .sub-title {
                    font-size: 13px;
                    color    : gray;
                }
            }
        }

        .right-content {
            width: 20%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}