.home-header-container {
    width           : 100%;
    height          : 100px;
    background-color: #fff;
    position        : fixed;
    top             : 0px;
    z-index         : 10;

    //
    .home-header-content {
        width  : 85%;
        margin : 0 auto;
        display: flex;
        height : 100%;

        .left-content {
            width          : 30%;
            height         : 100%;
            display        : flex;
            justify-content: center;
            align-items    : center;
            cursor         : pointer;

            i {
                font-size: 25px;

                color: gray;

                &:hover {
                    color     : #EF5924;
                    transition: all .3s;
                }
            }

            .header-logo {
                background-image : url('../../assets/images/LOGO-png.png');
                height           : 85%;
                background-repeat: no-repeat;
                background-size  : 100%;
                width            : 70%;

            }
        }

        .center-content {
            width      : 55%;
            display    : flex;
            align-items: center;

            .child-content {
                width          : 25%;
                display        : flex;
                flex-direction : column;
                justify-content: flex-end;
                height         : 100%;
                text-align     : left;
                padding        : 10px 35px;

                .child-content-link {
                    text-decoration: none;
                    color          : #000;
                    font-size      : 17px;

                    &:hover {
                        color: #EF5924;
                    }

                    .sub-title {
                        font-size  : 14px;
                        color      : gray;
                        font-weight: 400;
                    }
                }

            }
        }

        .right-content {
            width          : 15%;
            display        : flex;
            justify-content: flex-end;
            align-items    : center;

            .support {
                a {
                    text-decoration: none;
                    color          : #000;

                    i {
                        margin-right: 5px;
                    }

                    &:hover {
                        font-weight: bold;
                        color      : #EF5924 !important;
                    }
                }
            }

            .support,
            .flag {
                padding: 0px 10px;
            }

            .flag {
                display: flex;

                .language-vi {
                    cursor       : pointer;
                    padding-right: 10px;
                    opacity      : 0.2;

                    &.active {
                        opacity: 1;

                        span {
                            font-weight: 700;
                            color      : #EF5924 !important;
                        }
                    }

                    &:hover {
                        opacity: 1;
                    }
                }

                .language-en {
                    cursor : pointer;
                    opacity: 0.2;

                    &.active {
                        opacity: 1;

                        span {
                            font-weight: 700;
                            color      : #EF5924 !important;
                        }
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.home-header-banner {
    background-image: url('../../assets/images/DJI_0766-1.jpg'), linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
    ;
    height             : auto;
    background-repeat  : no-repeat;
    background-size    : cover;
    width              : 100%;
    background-position: center;
    position           : relative;
    top                : 80px;

    .home-header-banner-content {

        height        : auto;
        width         : 100%;
        margin-right  : auto;
        margin-left   : auto;
        padding-top   : 150px;
        padding-bottom: 150px;
        text-align    : center;

        .title1 {

            font-size     : 34px;
            text-shadow   : 1px 1px 1px #333;
            color         : #fff;
            text-transform: uppercase;
        }

        .title2 {
            font-size     : 36px;
            text-shadow   : 1px 1px 1px #333;
            color         : #fff;
            text-transform: uppercase;
            font-weight   : bold;
        }

        .search {

            background   : #EF5924;
            color        : #fff;
            outline      : none;
            border-radius: 25px;
            border       : 1px solid transparent;
            height       : 50px;
            padding-left : 50px;
            padding-right: 25px;
            display      : flex;
            width        : 25%;
            align-items  : center;
            margin       : 30px auto;

            .search-input {
                background  : transparent;
                outline     : none;
                border      : none;
                width       : 100%;
                padding-left: 20px;
            }

            .search-input::placeholder {
                color: #fff !important;
            }
        }

    }

    .options {
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        padding-top     : 30px;
        padding-bottom  : 20px;

        .option-child {
            list-style     : none;
            margin         : 0;
            padding        : 0;
            display        : flex;
            justify-content: center;
            align-items    : center;
            flex-wrap      : wrap;

            .option-child-item {
                margin : 0;
                padding: 5px;

                .option-child-item-link {
                    min-width      : 180px;
                    text-align     : center;
                    padding        : 5px 5px;
                    color          : #333;
                    display        : inline-block;
                    position       : relative;
                    text-decoration: none;
                    font-weight    : bold;

                    &:hover {
                        color: #EF5924;
                    }

                    .option-child-icon {
                        margin             : 2px auto;
                        background-size    : 32px;
                        background-repeat  : no-repeat;
                        background-position: center;

                        i {
                            font-size       : 40px;
                            color           : #FF5700;
                            background-color: #fff;
                            padding         : 15px 20px;
                            border-radius   : 50%;
                            box-shadow      : 2px 1px 2px 2px #ccc;

                        }
                    }

                    .option-child-text {
                        font-size  : 18px;
                        margin-top : 10px;
                        font-weight: 600;
                    }
                }
            }
        }
    }





}